/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/
/aula06/TiposPrimitivos/nbproject/private/
/aula06/TiposPrimitivos/build/
/aula06/OperadoresAritmeticos/nbproject/private/
/Aula07/OperadoresAritmeticos/build/
/aula06/Operadores/nbproject/private/
/aula06/Operadores/build/
/aula06/teste/nbproject/private/