/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/
/aula06/TiposPrimitivos/nbproject/private/
/aula06/TiposPrimitivos/build/
/aula06/OperadoresAritmeticos/nbproject/private/
/Aula07/OperadoresAritmeticos/build/
/aula06/Operadores/nbproject/private/
/aula06/Operadores/build/
/aula06/teste/nbproject/private/
/Aula08/OperadorTernario/nbproject/private/
/Aula08/OperadorTernario/build/
/Aula08/ComparaçãoString/nbproject/private/
/Aula08/ComparaçãoString/build/
/Aula08/OperadoresLogicos/nbproject/private/
/Aula08/OperadoresLogicos/build/
/Aula08/VerificadorIdade/nbproject/private/
/Aula08/VerificadorIdade/build/
/Aula08/ProgramaMedia/nbproject/private/
/Aula08/ProgramaMedia/build/
/Aula08/EstruturaCondicional/nbproject/private/
/Aula08/EstruturaCondicional/build/
/Aula08/ProgramaIdade/nbproject/private/
/Aula08/ProgramaIdade/build/
/Aula08/ParImpar/nbproject/private/
/Aula08/ParImpar/build/
/Aula08/MultiplaEscolha/nbproject/private/
/Aula08/MultiplaEscolha/build/
/Aula10/Cambalhotas/nbproject/private/
/Aula10/Cambalhotas/build/
/Aula10/Cambalhotas02/nbproject/private/
/Aula10/Cambalhotas02/build/
/Aula10/estrutura02/nbproject/private/
/Aula10/estrutura02/build/
/Aula10/RepeticaoFor/nbproject/private/
/Aula10/RepeticaoFor/build/
/Aula11/Vetores/nbproject/private/
/Aula11/Vetores/build/
/Aula11/vetores02/nbproject/private/
/Aula11/vetores02/build/
/Aula11/Vetores3/nbproject/private/
/Aula11/Vetores3/build/
/Aula11/vetor04/nbproject/private/
/Aula11/vetor04/build/
/Aula11/vetor05/nbproject/private/
/Aula11/vetor05/build/
/Aula15/JavaApplication27/nbproject/private/
/Aula15/metodos/nbproject/private/
/Aula15/metodos/build/
/Aula15/Funcao/nbproject/private/
/Aula15/Funcao/build/
/Aula15/TesteFuncao02/nbproject/private/
/Aula15/TesteFuncao02/build/