/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/
/aula06/TiposPrimitivos/nbproject/private/
/aula06/TiposPrimitivos/build/
/aula06/OperadoresAritmeticos/nbproject/private/
/Aula07/OperadoresAritmeticos/build/
/aula06/Operadores/nbproject/private/
/aula06/Operadores/build/
/aula06/teste/nbproject/private/
/Aula08/OperadorTernario/nbproject/private/
/Aula08/OperadorTernario/build/
/Aula08/ComparaçãoString/nbproject/private/
/Aula08/ComparaçãoString/build/
/Aula08/OperadoresLogicos/nbproject/private/
/Aula08/OperadoresLogicos/build/
/Aula08/VerificadorIdade/nbproject/private/
/Aula08/VerificadorIdade/build/
/Aula08/ProgramaMedia/nbproject/private/
/Aula08/ProgramaMedia/build/
/Aula08/EstruturaCondicional/nbproject/private/
/Aula08/EstruturaCondicional/build/
/Aula08/ProgramaIdade/nbproject/private/
/Aula08/ProgramaIdade/build/
/Aula08/ParImpar/nbproject/private/
/Aula08/ParImpar/build/
/Aula08/MultiplaEscolha/nbproject/private/
/Aula08/MultiplaEscolha/build/